/* Header */
.App-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .header-icons {
    display: flex;
    gap: 1rem;
  }
  
  .header-icons a {
    color: #f0c14b;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .header-icons a:hover {
    text-decoration: underline;
  }

  /* Responsive design */
  @media (max-width: 600px) {
    .header-icons {
      gap: 1.5rem;
      justify-content: center;
    }
  
    .header-icons a {
      font-size: 2rem;
    }
  }